body {
    padding-top: 0px;
    padding-bottom: 30px;
    /*margin:10px;*/
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

/*
.theme-showcase .navbar .container {
    width: auto;
}

.theme-showcase .navbar .container {
    max-width: 75ch;
    width: auto;
    margin: 0 auto;
}
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #ca2121;
    font-weight: 300;
    font-size: 20px;
}

p, div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.code-block {
  font-family: 'Fira Code', monospace; /* Or any typewriter font you like */
  background-color: #fdfdfd;
  border-left: 2px solid #ccc;
  padding: 0em 1em;
  margin: 0em 1em;
  color: #555;
  font-size: 0.8em;
  line-height: 1.2;
}

date {
    font-weight:900;
}

heavy {
    font-weight:900;
}

a {
    color: #000091;
}

/* https://stackoverflow.com/questions/7759229/remove-space-between-paragraph-and-unordered-list */
/* p + ul {
    margin-top: -12px;
}
*/

/*
ul {
    margin-left: -30; 
}
*/

.ul-keywords {
  margin-left: -30px;
}

.ul-research-papers {
  margin-left: -30px;
}

li {
    display: flex;           /* This is for an entire paragraph to be */ 
    align-items: flex-start; /* aligned on the left. */
    margin-bottom: 8px;      /* Space between items */
}

li p {
    margin: 0;  /* This is strange. Keep as 0. */
    padding-left: 10px; /* Creates space between bullet and text */
}

ul li::before {
    content: "▢"; /* Unicode for a hollow square */
    position: relative;
    top: 2px;
    font-size: 0.8em;
    color: #ca2121;
}

.triangle-list {
  list-style: none;
  padding-left: 0;
  margin-left: -50px;
}
.triangle-list li::before {
  content: "▷";
  margin-right: 8px;
  margin-left: 50px;
  color: #333;
}

/* https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4 */
.btn-group-xs > .btn, .btn-xs {
  padding: .3rem .25rem;
  font-size: .875rem;
  line-height: 0.8;
  border-radius: .2rem;
}

/*
.theme-showcase .navbar .container {
    max-width: 75ch;
    width: auto;
    margin: 0 auto;
}
*/

.page-container {
  max-width: 75ch;
  margin: 0 auto;  /* Center it horizontally */
  padding: 1rem;   /* Optional: Add some breathing room */
}

